
.acciones{
    float: right;
    margin-right:5%;
    margin-top: 4%;
    width: 15%;
    height: 10cm;
    border: 1px solid black;

}
.document{
    position: absolute;
    width: 70%;
    margin-left: 5%;
    margin-top: 3%;
    border: 1px solid black;
    height: 100%;
}
.inp{
    border:  0px;
    outline:none;
}
.ly{
    color:blue
}