<ul class="nav ">
  <li class="nav-item">
    <a class="nav-link active"style="font-size: 20px;" aria-current="page" href="#">Crear Terreno</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="font-size: 20px;" href="mis terrenos"> Mis terrenos</a>
  </li>
</ul>
<div >
 <div class='li'>
    <span [matMenuTriggerFor]="menu"class="material-icons">
        settings
        </span>
    <mat-menu #menu="matMenu">
      <button (click)="s()"mat-menu-item><span class="material-icons">
        power_settings_new
        </span></button>
    </mat-menu>
    
 </div>
 <!--En este apartado se ponen los botones dependiendo el usuario-->
</div>
