<app-navegador2></app-navegador2>
<mat-progress-bar mode="determinate" [value]=100></mat-progress-bar>
<div class="titulo">
    Terrenos a evaluar
</div>
<div class="y">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Propietario</th>
            <th scope="col">Fecha</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <thead>
            <tr *ngFor="let item of Tipo">
              <td scope="col">{{item.nombre}}</td>
              <td scope="col">{{item.fecha | date:("yyyy-MM-dd")}}</td>
              <td scope="col"><span class="material-icons"(click)="r(item.idT)">edit</span> <span class="material-icons" (click)="cancelar(item.idT,item._id)">delete_outline</span></td>
            </tr>
          </thead>
      </table>
</div>
