<ul class="nav ">
  <li class="nav-item">
    <a class="nav-link active" style="font-size: 20px;" aria-current="page" href="evaluar terrenos">Crear Terreno</a>
  </li>
</ul>
<div class="navegador">
    <div class='li'>
       <span [matMenuTriggerFor]="menu"class="material-icons">
           settings
           </span>
       <mat-menu #menu="matMenu">
         <button (click)="s()"mat-menu-item><span class="material-icons">
          power_settings_new
          </span></button>
         
       </mat-menu>
       
    </div>
   </div>
