<app-navegador2></app-navegador2>
<div class="titulo">
    Caracteristicas a evaluar
</div>
<div class="y">
    <div class="mapa">

    </div>
    <div class="t">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">items</th>
                <th scope="col">Cuenta con las caracteristicas
                    <thead>
                        <th scope="col">si</th>
                        <th scope="col">no</th>
                    </thead>
                </th>
                <th scope="col">costo</th>
              </tr>
            </thead>
          </table>
          <input type="text">
    </div>
</div>
<div class="i">

</div>