.titulo{
    margin: 50px;
    color:rgb(8, 94, 157);
    font-size: 40px;
}
.y{
    margin: 50px;
}
.mapa{
    position:absolute;
    width: 1000px;
    background-color:rgba(119, 119, 119, 0.664);
    height: 600px;
}
.t{
    position: static;
    float: right;
    width: 750px;
}
.i{
    margin-top: 750px ;
    margin-left: 50px;
    width: 200px;
    height: 150px;
    background-color:rgba(119, 119, 119, 0.664);
}