#hh{
    background-color: #fafafa;
  
      
      border: 2px solid #ccc;
      /* IMPORTANTE */;
      background-color: white;
      height: 200%;
  }
  input{
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    outline:none;
    width: 5cm;
    font-family:aria;
    font-size: 18px;
}
.m{
    text-align: center;
  }
  .tN{
    font-family:aria;
    font-size: 18px;
    font-weight:bold;
  }
  #r{
    background-color: #fafafa;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    /* IMPORTANTE */
    text-align: center;
  }
  label{
    font-family:aria;
    font-size: 18px;
    font-weight:bold;
  }
  #hh{
    background-color: #fafafa;
  
      
      border: 2px solid #ccc;
      /* IMPORTANTE */;
      background-color: white;
      height: 200%;
  }
  #b{
    color: white;
  }
  