<app-navegador></app-navegador>
<mat-progress-bar mode="determinate" [value]=100></mat-progress-bar>
<div>
  <!-- div del documento de usuario comun -->
  <div class="container-fluid">
    <div class="row">
      <!-- datos del terreno -->
      <div class="col">
        <div class="col" id="hh">
          <div class="l">

            <h1 class="m" style="color:#0080ff;">Caracteristicas del Terreno</h1>
            <hr />
            <div id="r">
              <p class="tN">NumDoc: 00{{tipo}} </p><br>
              <h2 class="m2" style="color:#0080ff;">Datos Personales</h2>
              <label class="tN">Nombre:</label><input disabled style="margin: 1px" type="text" [(ngModel)]="valor1">
              <label for="lname" class="tN">Apellido Paterno:</label>
              <input disabled type="text" id="lname" [(ngModel)]="valor2">
              <label for="lname">Apellido Materno:</label>
              <input disabled type="text" id="lname" [(ngModel)]="valor3"><br><br>
              <label for="email">Email:</label>
              <input disabled type="email" [(ngModel)]="valor4">
              <label for="lname">Tel:</label>
              <input disabled type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" require
                placeholder="123-456-7890" [(ngModel)]="valor5">
            </div><br>
            <div id="r" class="l">

              <h2 class="m2" style="color:#0080ff;">Localizacion del terreno</h2>
              <label for="fname">Estado:</label><input disabled type="text" [(ngModel)]="valor6">
              <label for="lname">Municipio:</label>
              <input disabled type="text" id="lname" [(ngModel)]="valor7">
              <label for="email">Colonia o Comunidad:</label>
              <input disabled type="email" [(ngModel)]="valor8"><br>

            </div><br>

            <div id="r" class="l">

              <h2 class="m2" style="color:#0080ff;">Coordenadas del mapa</h2>
              <label for="fname">Latitud:</label><input disabled type="text" [(ngModel)]="valor9">
              <label for="lname">Longitud:</label>
              <input disabled type="text" id="lname" [(ngModel)]="valor10"><br><br>


            </div><br>
            <div id="r" class="l">

              <h2 class="m2" style="color:#0080ff;">Medidas del terreno</h2>
              <label for="fname">Ancho:</label><input disabled type="text" [(ngModel)]="valor11"><br><br>
              <label for="lname">Largo:</label>
              <input disabled type="text" [(ngModel)]="valor12"><br><br>
              <label for="lname">Area:</label>
              <input disabled type="text" [(ngModel)]="valor13">

            </div><br>
            <div id="r">
              <h2 class="m2" style="color:#0080ff;">Valorado por</h2>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">items</th>
                    <th scope="col">costo</th>
                  </tr>
                </thead>
                <thead>
                  <tr *ngFor="let y of Tipo">
                    <td>{{y.Item}}</td>
                    <td>{{y.costo}}$ </td>
                  </tr>
                  <tr>
                    <td>Total valoracion</td>
                    <td><input type="text" class="costo" disabled [(ngModel)]="suma">$ </td>
                  </tr>
                </thead>
              </table>
            </div><br>
            <div id="r">
              <h2 class="m2" style="color:#0080ff;">Patente de valoracion :</h2>
              <h1 class="tN">{{" "+valor0}}</h1>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="document">
      <p class="titulo"></p>
      <div class="l">

        <h1 style="margin: 10px" class="m">Caracteristicas del Terreno</h1>
        <h2 style="margin: 10px" class="m">Propietario</h2>
        <p style="margin: 10px">NumDoc: 00{{tipo}} </p>
        <label style="margin: 5px">Nombre:</label><input style="margin: 1px" type="text" [(ngModel)]="valor1"
          class="inp">
        <label style="margin: 5px" for="lname">Apellido Paterno:</label>
        <input type="text" id="lname" class="inp" [(ngModel)]="valor2" disabled>
        <label style="margin: 5px" for="lname">Apellido Materno:</label>
        <input type="text" id="lname" class="inp" [(ngModel)]="valor3" disabled><br><br>
        <label style="margin: 5px" for="email">Email:</label>
        <input type="email" class="inp" [(ngModel)]="valor4" disabled="">
        <label style="margin: 5px" for="lname">Tel:</label>
        <input type="tel" id="phone" class="inp" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" require
          placeholder="123-456-7890" [(ngModel)]="valor5" disabled>
      </div>
      <div class="l">

        <h2 style="margin: 5px" class="m2">Localizacion del terreno</h2>
        <label style="margin: 5px" for="fname">Estado:</label><input type="text" class="inp" [(ngModel)]="valor6"
          disabled>
        <label style="margin: 5px" for="lname">Municipio:</label>
        <input type="text" id="lname" class="inp" [(ngModel)]="valor7" disabled>
        <label style="margin: 5px" for="email">Colonia o Comunidad:</label>
        <input type="email" class="inp" [(ngModel)]="valor8" disabled><br><br>

      </div>

      <div class="l">

        <h2 style="margin: 5px" class="m2">Coordenadas del mapa</h2>
        <label style="margin: 5px" for="fname">Latitud:</label><input type="text" class="inp" [(ngModel)]="valor9"
          disabled>
        <label style="margin: 5px" for="lname">Longitud:</label>
        <input type="text" id="lname" class="inp" [(ngModel)]="valor10" disabled><br><br>


      </div>
      <div class="l">

        <h2 style="margin: 5px" class="m2">Medidas del terreno</h2>
        <label style="margin: 5px" for="fname">Ancho:</label><input type="text" class="inp" [(ngModel)]="valor11"
          disabled><br><br>
        <label style="margin: 5px" for="lname">Largo:</label>
        <input type="text" class="inp" [(ngModel)]="valor12" disabled><br><br>
        <label style="margin: 5px" for="lname">Area:</label>
        <input type="text" class="inp" [(ngModel)]="valor13" disabled>

        <div>
          <div>
            
            <div></div>
          </div>
          Patente de valoracion :<h3>{{" "+valor0}}</h3>
        </div>