<app-navegador></app-navegador>
<mat-progress-bar mode="determinate" [value]=100></mat-progress-bar>
<div>
    <!-- div del documento de usuario comun -->
    <div class="document">
        <p class="titulo"></p>
        <div class="l">

            <h1 style="margin: 10px" class="m">Caracteristicas del Terreno</h1>
            <h2 style="margin: 10px" class="m">Propietario</h2>
            <p style="margin: 10px">NumDoc: 00{{tipo}} </p>
            <label style="margin: 5px">Nombre:</label><input style="margin: 1px" type="text" [(ngModel)]="valor1"
                class="inp">
            <label style="margin: 5px" for="lname">Apellido Paterno:</label>
            <input type="text" id="lname" class="inp" [(ngModel)]="valor2" disabled>
            <label style="margin: 5px" for="lname">Apellido Materno:</label>
            <input type="text" id="lname" class="inp" [(ngModel)]="valor3" disabled><br><br>
            <label style="margin: 5px" for="email">Email:</label>
            <input type="email" class="inp" [(ngModel)]="valor4" disabled="">
            <label style="margin: 5px" for="lname">Tel:</label>
            <input type="tel" id="phone" class="inp" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" require
                placeholder="123-456-7890" [(ngModel)]="valor5" disabled>
        </div>
        <div class="l">

            <h2 style="margin: 5px" class="m2">Localizacion del terreno</h2>
            <label style="margin: 5px" for="fname">Estado:</label><input type="text" class="inp" [(ngModel)]="valor6"disabled>
            <label style="margin: 5px" for="lname">Municipio:</label>
            <input type="text" id="lname" class="inp" [(ngModel)]="valor7"disabled>
            <label style="margin: 5px" for="email">Colonia o Comunidad:</label>
            <input type="email" class="inp" [(ngModel)]="valor8"disabled><br><br>

        </div>

        <div class="l">

            <h2 style="margin: 5px" class="m2">Coordenadas del mapa</h2>
            <label style="margin: 5px" for="fname">Latitud:</label><input type="text" class="inp" [(ngModel)]="valor9"disabled>
            <label style="margin: 5px" for="lname">Longitud:</label>
            <input type="text" id="lname" class="inp" [(ngModel)]="valor10"disabled><br><br>


        </div>
        <div class="l">

            <h2 style="margin: 5px" class="m2">Medidas del terreno</h2>
            <label style="margin: 5px" for="fname" >Ancho:</label><input type="text" class="inp"
                [(ngModel)]="valor11"disabled><br><br>
            <label style="margin: 5px" for="lname">Largo:</label>
            <input type="text" class="inp" [(ngModel)]="valor12" disabled><br><br>
            <label style="margin: 5px" for="lname">Area:</label>
            <input type="text" class="inp" [(ngModel)]="valor13"disabled>

        <div>
        <div>
            <div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" >items</th>
                        <th scope="col">costo</th>
                      </tr>
                    </thead>
                    <thead >
                      <tr *ngFor="let y of Tipo">
                        <td>{{y.Item}}</td>
                        <td>{{y.costo}}$ </td>
                      </tr>
                      <tr >
                        <td>Total valoracion</td>
                        <td><input type="text" class="costo" disabled [(ngModel)]="suma">$ </td>
                      </tr>
                    </thead>
                  </table>
            </div>
            <div></div>
        </div>
        Patente de valoracion :<h3>{{"   "+valor0}}</h3>
    </div>

