<app-navegador></app-navegador>
<mat-progress-bar mode="determinate" [value]="100"></mat-progress-bar>
<mat-progress-bar mode="indeterminate" *ngIf="cargarl"></mat-progress-bar>

<div class="container-fluid">
  <!-- div para el mapa y las acciones que se realisan -->
  <div class="row align-items-start ">
    <div id="cl" class="col">
      <div id="map" (click)="localitation()"></div>

      
      <!-- div para poner los botones de las acciones que puede realisar -->
      <div class="acciones">
        <br />
        <button style="margin: 10px" id="b" type="button" (click)="select()" class="btn btn-outline-dark">
          <span class="material-icons"> touch_app </span>
        </button>
        <button style="margin: 10px" id="b" type="button" class="btn btn-outline-dark" (click)="mostrarD()">
          <span class="material-icons"> filter_alt </span>
        </button>
        <button style="margin: 10px" id="b" type="button" class="btn btn-outline-dark" (click)="GuT()">
          <span class="material-icons"> save </span>
        </button>
      </div>
    </div>

    <!-- div donde se optienen y se muestran los datos del terreno optenidos del mapa -->
    <div class="col" *ngIf="mostrar" id="hh">
      <span class="material-icons" style="font-size: 30px" (click)="mostrarD()">close</span>
      <div class="l">
        <h1 class="m" style="color: #0080ff">Caracteristicas del Terreno</h1>

        <hr />
        <div id="r">
          <p class="tN">NumDoc: 00{{ tipo }}</p>
          <br />
          <h2 class="m2" style="color: #0080ff">Datos Personales</h2>
          <label class="tN">Nombre:</label><input disabled style="margin: 1px" type="text" [(ngModel)]="valor1">
          <label for="lname" class="tN">Apellido Paterno:</label>
          <input disabled type="text" id="lname" [(ngModel)]="valor2">
          <label for="lname">Apellido Materno:</label>
          <input disabled type="text" id="lname" [(ngModel)]="valor3"><br><br>
          <label for="email">Email:</label>
          <input disabled type="email" [(ngModel)]="valor4">
          <label for="lname">Tel:</label>
          <input disabled type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" require
            placeholder="123-456-7890" [(ngModel)]="valor5">
        </div>
        <div id="r" class="l">
          <h2 class="m2" style="color: #0080ff">Localizacion del terreno</h2>
          <label for="fname">Estado:</label><input disabled type="text" [(ngModel)]="valor6">
              <label for="lname">Municipio:</label>
              <input disabled type="text" id="lname" [(ngModel)]="valor7">
              <label for="email">Colonia o Comunidad:</label>
              <input disabled type="email" [(ngModel)]="valor8"><br /><br />
        </div>

        <div id="r" class="l">
          <label for="fname">Latitud:</label><input disabled type="text" [(ngModel)]="valor9">
              <label for="lname">Longitud:</label>
              <input disabled type="text" id="lname" [(ngModel)]="valor10"><br><br>
        </div>
        <div id="r" class="l">
          <h2 class="m2" style="color: #0080ff">Medidas del terreno</h2>
          <label for="fname">Ancho:</label><input disabled type="text" [(ngModel)]="valor11"><br><br>
          <label for="lname">Largo:</label>
          <input disabled type="text" [(ngModel)]="valor12"><br><br>
          <label for="lname">Area:</label>
          <input disabled type="text" [(ngModel)]="valor13">
        </div>
        <div id="r">
          <h2 class="m2" style="color: #0080ff">Patente de valoracion :</h2>
          <h1 class="tN">{{ " " + valor0 }}</h1>
        </div>

      </div>
    </div>
  </div>
</div>