.busqueda{
    position: absolute;
    width: 40%;
    margin-left: 5%;
    margin-top: 1%;
    border: 1px solid black;
    border-radius: 20px;
}
.in{
    width: 95%;
    height: 40px;
    border: 0px;
    margin-left: 4px;
    border-radius: 20px;
    outline:none;
}
.imgl{
    float: right;
    margin-right: 10px;
}
.map{
    position: absolute;
    width: 90%;
    margin-left: 5%;
    margin-top: 4%;
    border: 1px solid black;
    height: 80%;
}
.acciones{
    float: right;
    position: relative;
    margin-right:5.5%;
    margin-top: 3%;
    width: 12%;
   
    height: 2cm;

}
.document{
    position: absolute;
    width: 90%;
    color: inherit;
    margin-left: 5%;
    margin-top: 50%;

    height: 100%;
}
.inp{
    border:  0px;
    outline:none;
}