<div mat-dialog-content>{{message}}</div>
<div mat-dialog-actions>
    <button mat-button class="btn btn-danger me-md-2"(click)="onClickNo()">cancelar</button>
    <button mat-button class="btn btn-primary me-md-2" [mat-dialog-close]="true">Confirmar</button>
</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>