<app-navegador></app-navegador>
<mat-progress-bar mode="determinate" [value]=100></mat-progress-bar>
<div class="titulo">
    Registro De Terrenos
</div>

<div class="y">
    <table class="table"ngz nz-demo-table-basic>
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Localisacion en le mapa</th>
            <th scope="col">Estado del terreno</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <thead>
          <tr *ngFor="let item of Tipo">
            <td scope="col" >{{item.fecha | date:("yyyy-MM-dd")}}</td>
            <td scope="col">{{item.latitud+" "+item.longitud}}</td>
            <td scope="col"> 
              <div class="alert alert-warning d-flex align-items-center" role="alert" >
              <div>
                {{item.status}}
              </div>
            </div> </td>
            <td scope="col"><span class="material-icons" (click)="editar(item.idl)" >edit</span> <span (click)="eliminar(item.idl)"class="material-icons">delete_outline</span><span (click)="ver(item.idl)"class="material-icons">
              navigate_next
              </span></td>
          </tr>
        </thead>
      </table>
</div>